.is-invalid {
    border-color: red;
    background-color: #ffe6e6;
  }
  
  .c-form-feedback {
    color: red;
    margin-top: -20px;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .faded-border {
    display: block;
    margin: 0 auto;
    -webkit-mask-image: radial-gradient(circle, white 70%, transparent 100%);
    mask-image: radial-gradient(circle, white 70%, transparent 100%);
    border-radius: 10px; /* Para bordes redondeados, opcional */
  }