<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4" style="min-height: 480px;">
      <c-card-header class="d-flex justify-content-between align-items-center"
        style="padding-top: 0; padding-bottom: 0">
        <strong>{{ title }} List</strong>
        <div style="min-width: 40%; margin-left: 10px; margin-top: 15px">
          <form [formGroup]="searchForm">
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cil-magnifying-glass"></svg>
              </span>
              <input formControlName="search_term" autoComplete="search_term" cFormControl
                placeholder="Search in {{module}}..." type="text" class="form-control"
                (focus)="selectAllText($event)" />
            </c-input-group>
          </form>
        </div>
        <div class="ms-auto">
          <small class="text-muted me-2">Total Paid: <b>$ {{ totalSelectedAmountString }}</b></small>
        </div>
      </c-card-header>
      <c-card-body style="min-height: 450px;">
        <table cTable class="sticky-header">
          <thead cTableColor="dark">
            <tr>
              <ng-container *ngFor="let column of tableHeaders; let i = index">
                <th *ngIf="i === tableHeaders.length - 1 && isStaff === 'admin'" scope="col"
                  [ngStyle]="{'color': 'lightgray', 'cursor': 'pointer'}">
                  {{ column }}
                </th>
                <th *ngIf="i !== tableHeaders.length - 1" scope="col">{{ column }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredOrderItems; let i = index">
              <th scope="row" style="text-align: center; vertical-align: middle;">
                {{ i + 1}}
              </th>
              <td *ngIf="item && item.fields && item.fields.product"
                style="text-align: center; vertical-align: middle;">
                <img [src]="getImageUrl(item.fields.product.fields.image)" alt="product"
                  style="width: 80px; height: 80px; border-radius: 50%" />
              </td>
              <td *ngIf="item && item.fields && item.fields.product"
                style="text-align: center; vertical-align: middle;">
                {{ item.fields.product.fields.name}}
              </td>
              <td *ngIf="item && item.fields && item.fields.order && item.fields.order.fields.customer"
                style="text-align: center; vertical-align: middle;">
                {{ item.fields.order.fields.customer.fields.first_name}} 
                {{ item.fields.order.fields.customer.fields.last_name}}
              </td>
              <td *ngIf="item && item.fields && item.fields.order" style="text-align: center; vertical-align: middle;">{{
                item.fields.order.fields.created_at | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td *ngIf="item" style="text-align: center; vertical-align: middle; width: 100px;">
                $ {{ calculateTotalAmount(item) }}
              </td>
              <td *ngIf="item && item.fields && item.fields.order && item.fields.order.fields.customer"
                style="text-align: center; vertical-align: middle;">
                {{ item.fields.order.fields.customer.fields.address}}, 
                {{ item.fields.order.fields.customer.fields.city}}, 
                {{ item.fields.order.fields.customer.fields.postal_code}} 
              </td>
              <td *ngIf="isStaff === 'admin'" 
              style="text-align: center; vertical-align: middle;">
                <button [active]="'active'" [color]="'danger'" [size]="'sm'" ngbTooltip="Delete"
                  (click)="onDelete(item.pk)" tooltipClass="custom-tooltip" cButton>
                  <svg cIcon class="me-2" name="cil-trash" size="sm" style="margin-left: 10px"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>