<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>{{ title }}</strong>
      </c-card-header>
      <c-card-body>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" cForm class="row g-3 needs-validation">
          <c-col md="6">
            <label cLabel for="username">Username</label>
            <c-input-group class="mb-3">
              <input formControlName="username" autoComplete="username" cFormControl
                [ngClass]="{'is-invalid': userForm.get('username')?.invalid && userForm.get('username')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched"
              class="c-form-feedback">
              <div *ngIf="userForm.get('username')?.errors?.['required']">Username is required</div>
              <div *ngIf="userForm.get('username')?.errors?.['existingUsername']">
                Username already exists in Users
              </div>
            </div>
          </c-col>
          <c-col md="6">
            <label cLabel for="email">Email</label>
            <c-input-group class="mb-3">
              <input formControlName="email" autoComplete="email" cFormControl
                [ngClass]="{'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
              class="c-form-feedback">
              <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required</div>
              <div *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format</div>
              <div *ngIf="userForm.get('email')?.errors?.['existingEmailInUsers']">
                Email already exists in Users
              </div>
              <div *ngIf="userForm.get('email')?.errors?.['existingEmailInCustomers']">
                Email already exists in Customers
              </div>
            </div>
          </c-col>
          <c-col md="6">
            <label cLabel for="first_name">First Name</label>
            <c-input-group class="mb-3">
              <input formControlName="first_name" autoComplete="given-name" cFormControl
                [ngClass]="{'is-invalid': userForm.get('first_name')?.invalid && userForm.get('first_name')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('first_name')?.invalid && userForm.get('first_name')?.touched"
              class="c-form-feedback">
              First Name is required
            </div>
          </c-col>
          <c-col md="6">
            <label cLabel for="last_name">Last name</label>
            <c-input-group class="mb-3">
              <input formControlName="last_name" autoComplete="family-name" cFormControl
                [ngClass]="{'is-invalid': userForm.get('last_name')?.invalid && userForm.get('last_name')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('last_name')?.invalid && userForm.get('last_name')?.touched"
              class="c-form-feedback">
              Last Name is required
            </div>
          </c-col>

          <c-col md="12">
            <c-col md="12" style="padding-left: 0px; padding-top: 10px">
              <label cLabel for="is_staff"></label>
              <c-form-check>
                <input cFormCheckInput formControlName="is_staff" id="is_staff" type="checkbox" />
                <label cFormCheckLabel for="is_staff">Is Admin?</label>
              </c-form-check>
            </c-col>
          </c-col>

          <c-col md="12">
            <c-col md="12" style="padding-left: 0px; padding-top: 10px">
              <label cLabel for="check_change_password"></label>
              <c-form-check>
                <input cFormCheckInput formControlName="check_change_password" id="check_change_password"
                  type="checkbox" (change)="setChangePassword($event)" />
                <label cFormCheckLabel for="check_change_password">Set Password?</label>
              </c-form-check>
            </c-col>
          </c-col>

          <c-col md="6">
            <label cLabel for="new_password">Password</label>
            <c-input-group class="mb-3">
              <input formControlName="new_password" autoComplete="new_password" cFormControl type="password"
                [ngClass]="{'is-invalid': userForm.get('new_password')?.invalid && userForm.get('new_password')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('new_password')?.invalid && userForm.get('new_password')?.touched"
              class="c-form-feedback">
              <div *ngIf="userForm.get('new_password')?.errors?.['required']">
                New Password is required
              </div>
              <div *ngIf="userForm.get('new_password')?.errors?.['minlength']">
                New Password must be at least 6 characters long
              </div>
            </div>
          </c-col>
          <c-col md="6">
            <label cLabel for="confirm_password">Confirm Password</label>
            <c-input-group class="mb-3">
              <input formControlName="confirm_password" autoComplete="confirm_password" cFormControl type="password"
                [ngClass]="{'is-invalid': userForm.get('confirm_password')?.invalid && userForm.get('confirm_password')?.touched}" />
            </c-input-group>
            <div *ngIf="userForm.get('confirm_password')?.invalid && userForm.get('confirm_password')?.touched"
              class="c-form-feedback">
              <div *ngIf="userForm.get('confirm_password')?.errors?.['required']">
                Confirm New Password is required
              </div>
              <div *ngIf="userForm.get('confirm_password')?.errors?.['mismatch']">
                Passwords do not match
              </div>
            </div>
          </c-col>

          <c-col xs="12">
            <button cButton class="me-1" color="dark" type="submit">
              {{ buttonText }}
            </button>
            <button (click)="navigateToUsers()" cButton color="secondary" type="reset">
              Cancel
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>