.custom-tooltip .tooltip-inner {
    background-color: #33069c; /* Cambia esto al color de fondo que desees */
    color: #ffffff; /* Cambia esto al color del texto que desees */
    border-radius: 4px; /* Ajusta el radio del borde si es necesario */
    padding: 8px 10px; /* Ajusta el padding si es necesario */
  }
  
  .custom-tooltip .arrow::before {
    border-top-color: #333333; /* Cambia esto al color de la flecha si el tooltip aparece arriba */
    /* Si el tooltip aparece en otras direcciones, ajusta los siguientes estilos */
    border-right-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #333333;
  }

  .sticky-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; 
    color: white; 
  }
  
  .sticky-header thead th {
    // padding: 16px; 
    text-align: left;
    border-bottom: 2px solid #dee2e6; 
  }

  c-card-body {
    padding: 0; 
    max-height: 400px; 
    overflow-y: auto; 
  }

  .ng-dropdown-panel {
    background-color: white !important; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin-left: -10px !important;
    margin-top: 10px !important;
    min-width: 100% !important;
    max-height: 200px !important;
    overflow-y: auto !important;
  }
  
  .ng-dropdown-panel .ng-option {
    padding: 5px 15px !important;
    margin: 5px 0px !important;
  }
  
  .ng-dropdown-panel .ng-option .ng-option-label {
    display: flex !important;
    align-items: center !important;
  }
  