<c-row *ngIf="dataLoaded">
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Update Profile</strong>
            </c-card-header>
            <c-card-body>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" cForm class="row g-3 needs-validation">

                    <c-col md="6">
                        <label cLabel for="first_name">First Name</label>
                        <c-input-group class="mb-3">
                            <input formControlName="first_name" autoComplete="given-name" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('first_name')?.invalid && profileForm.get('first_name')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('first_name')?.invalid && profileForm.get('first_name')?.touched"
                            class="c-form-feedback">
                            First Name is required
                        </div>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="last_name">Last name</label>
                        <c-input-group class="mb-3">
                            <input formControlName="last_name" autoComplete="family-name" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('last_name')?.invalid && profileForm.get('last_name')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('last_name')?.invalid && profileForm.get('last_name')?.touched"
                            class="c-form-feedback">
                            Last Name is required
                        </div>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="email">Email</label>
                        <c-input-group class="mb-3">
                            <input formControlName="email" autoComplete="email" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('email')?.invalid && profileForm.get('email')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched"
                            class="c-form-feedback">
                            <div *ngIf="profileForm.get('email')?.errors?.['required']">
                                Email is required
                            </div>
                            <div *ngIf="profileForm.get('email')?.errors?.['email']">
                                Invalid email format
                            </div>
                            <div *ngIf="profileForm.get('email')?.errors?.['existingEmailInUsers']">
                                Email already exists in Users
                            </div>
                            <div *ngIf="profileForm.get('email')?.errors?.['existingEmailInCustomers']">
                                Email already exists in Customers
                            </div>
                        </div>
                    </c-col>
                    <c-col md="6" *ngIf="!isAdmin">
                        <label cLabel for="phone">Phone</label>
                        <c-input-group class="mb-3">
                            <input formControlName="phone" autoComplete="tel" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched"
                            class="c-form-feedback">
                            Phone is required
                        </div>
                    </c-col>
                    <c-col md="12" *ngIf="!isAdmin">
                        <label cLabel for="address">Address</label>
                        <c-input-group class="mb-3">
                            <input formControlName="address" autoComplete="address-line1" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('address')?.invalid && profileForm.get('address')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched"
                            class="c-form-feedback">
                            Address is required
                        </div>
                    </c-col>
                    <c-col md="6" *ngIf="!isAdmin">
                        <label cLabel for="city">City</label>
                        <c-input-group class="mb-3">
                            <input formControlName="city" autoComplete="address-level2" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('city')?.invalid && profileForm.get('city')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('city')?.invalid && profileForm.get('city')?.touched"
                            class="c-form-feedback">
                            City is required
                        </div>
                    </c-col>
                    <c-col md="6" *ngIf="!isAdmin">
                        <label cLabel for="postal_code">Zip code</label>
                        <c-input-group class="mb-3">
                            <input formControlName="postal_code" autoComplete="postal-code" cFormControl type="text"
                                [ngClass]="{'is-invalid': profileForm.get('postal_code')?.invalid && profileForm.get('postal_code')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('postal_code')?.invalid && profileForm.get('postal_code')?.touched"
                            class="c-form-feedback">
                            <div *ngIf="profileForm.get('postal_code')?.errors?.['required']">
                                Zip Code is required
                            </div>
                            <div *ngIf="profileForm.get('postal_code')?.errors?.['pattern']">
                                Zip Code must be a positive integer
                            </div>
                        </div>
                    </c-col>
                    <c-col md="6" *ngIf="!isAdmin">
                        <label cLabel for="country">Country</label>
                        <c-input-group class="mb-3">
                            <ng-select formControlName="country" [items]="listCountries" bindLabel="fields.name"
                                bindValue="pk" placeholder="Select country"
                                style="border-radius: 0.25rem; width:100%; padding: 0.375rem 0.75rem; border: 1px solid #ddd"
                                [ngClass]="{'is-invalid': profileForm.get('country')?.invalid && profileForm.get('country')?.touched}">
                                <ng-template ng-option-tmp let-country="item">
                                    <img [src]="country.fields.flag" width="20" height="15" style="margin-right: 8px;">
                                    {{ country.fields.name }}
                                </ng-template>
                            </ng-select>
                        </c-input-group>
                        <div *ngIf="profileForm.get('country')?.invalid && profileForm.get('country')?.touched"
                            class="c-form-feedback">
                            Country is required
                        </div>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="username">Username</label>
                        <c-input-group class="mb-3">
                            <input formControlName="username" autoComplete="username" cFormControl
                                [ngClass]="{'is-invalid': profileForm.get('username')?.invalid && profileForm.get('username')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched"
                            class="c-form-feedback">
                            <div *ngIf="profileForm.get('username')?.errors?.['required']">
                                Username is required
                            </div>
                            <div *ngIf="profileForm.get('username')?.errors?.['minlength']">
                                Username must be at least 6 characters long
                            </div>
                            <div *ngIf="profileForm.get('username')?.errors?.['existingUsername']">
                                Username already exists in Users
                            </div>
                        </div>
                    </c-col>
                    <c-col md="12">
                        <c-col md="12" style="padding-left: 0px; padding-top: 10px">
                            <label cLabel for="check_change_password"></label>
                            <c-form-check>
                                <input cFormCheckInput formControlName="check_change_password"
                                    id="check_change_password" type="checkbox" (change)="setChangePassword($event)" />
                                <label cFormCheckLabel for="check_change_password">Change Password?</label>
                            </c-form-check>
                        </c-col>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="new_password">New Password</label>
                        <c-input-group class="mb-3">
                            <input formControlName="new_password" autoComplete="new_password" cFormControl
                                type="password"
                                [ngClass]="{'is-invalid': profileForm.get('new_password')?.invalid && profileForm.get('new_password')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('new_password')?.invalid && profileForm.get('new_password')?.touched"
                            class="c-form-feedback">
                            <div *ngIf="profileForm.get('new_password')?.errors?.['required']">
                                New Password is required
                            </div>
                            <div *ngIf="profileForm.get('new_password')?.errors?.['minlength']">
                                New Password must be at least 6 characters long
                            </div>
                        </div>
                    </c-col>
                    <c-col md="6">
                        <label cLabel for="confirm_password">Confirm Password</label>
                        <c-input-group class="mb-3">
                            <input formControlName="confirm_password" autoComplete="confirm_password" cFormControl
                                type="password"
                                [ngClass]="{'is-invalid': profileForm.get('confirm_password')?.invalid && profileForm.get('confirm_password')?.touched}" />
                        </c-input-group>
                        <div *ngIf="profileForm.get('confirm_password')?.invalid && profileForm.get('confirm_password')?.touched"
                            class="c-form-feedback">
                            <div *ngIf="profileForm.get('confirm_password')?.errors?.['required']">
                                Confirm New Password is required
                            </div>
                            <div *ngIf="profileForm.get('confirm_password')?.errors?.['mismatch']">
                                Passwords do not match
                            </div>
                        </div>
                    </c-col>
                    <c-col xs="12">
                        <button cButton class="me-1" color="dark" type="submit">
                            Update
                        </button>
                        <button (click)="navigateToDashboard()" cButton color="secondary" type="reset">
                            Cancel
                        </button>
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>