<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>{{ title }}</strong>
      </c-card-header>
      <c-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" cForm class="row g-3 needs-validation">
          <c-col md="4">
            <label cLabel for="name">Name</label>
            <c-input-group class="mb-3">
              <input formControlName="name" autoComplete="given-name" cFormControl
                [ngClass]="{'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}" />
            </c-input-group>
            <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="c-form-feedback">
              Name is required
            </div>
          </c-col>
          <c-col md="4">
            <label cLabel for="last_name">Price</label>
            <c-input-group class="mb-3">
              <input formControlName="price" autoComplete="price" cFormControl type="number"
                [ngClass]="{'is-invalid': registerForm.get('price')?.invalid && registerForm.get('price')?.touched}" />
            </c-input-group>
            <div *ngIf="registerForm.get('price')?.invalid && registerForm.get('price')?.touched"
              class="c-form-feedback">
              <div *ngIf="registerForm.get('price')?.errors?.['required']">Price is required</div>
              <div *ngIf="registerForm.get('price')?.errors?.['pattern']">Price must be a positive decimal
              </div>
            </div>
          </c-col>
          <c-col md="4">
            <label cLabel for="stock">Stock</label>
            <c-input-group class="mb-3">
              <input formControlName="stock" autoComplete="stock" cFormControl type="number"
                [ngClass]="{'is-invalid': registerForm.get('stock')?.invalid && registerForm.get('stock')?.touched}" />
            </c-input-group>
            <div *ngIf="registerForm.get('stock')?.invalid && registerForm.get('stock')?.touched"
              class="c-form-feedback">
              <div *ngIf="registerForm.get('stock')?.errors?.['required']">Stock is required</div>
              <div *ngIf="registerForm.get('stock')?.errors?.['pattern']">Stock must be a positive integer
              </div>
            </div>
          </c-col>

          <c-col md="11">
            <label cLabel for="category">Category</label>
            <c-input-group class="mb-3">
              <ng-select formControlName="category" [items]="listCategories" bindLabel="fields.name" bindValue="pk"
                placeholder="Select category"
                style="border-radius: 0.25rem; width:100%; padding: 0.375rem 0.75rem; border: 1px solid #ddd"
                [ngClass]="{'is-invalid': registerForm.get('category')?.invalid && registerForm.get('category')?.touched}">
                <ng-template ng-option-tmp let-category="item">
                  {{ category.fields.name }}
                </ng-template>
              </ng-select>
            </c-input-group>
            <div *ngIf="registerForm.get('category')?.invalid && registerForm.get('category')?.touched"
              class="c-form-feedback">
              Category is required
            </div>
          </c-col>

          <c-col md="1" style="padding-left: 0px; padding-top: 10px">
            <label cLabel for="available"></label>
            <c-form-check>
              <input cFormCheckInput formControlName="available" id="available" type="checkbox" />
              <label cFormCheckLabel for="available">Available?</label>
            </c-form-check>
          </c-col>

          <c-col md="6">
            <label cLabel for="description">Description</label>
            <c-input-group class="mb-3">
              <textarea formControlName="description" autoComplete="description" cFormControl></textarea>
            </c-input-group>
          </c-col>

          <c-col [md]="previewUrl ? 4 : 6">
            <label cLabel for="file" style="font-weight: bold; margin-bottom: 8px;">Image</label>
            <c-input-group class="mb-3" style="border: 1px solid #ced4da; border-radius: 4px; padding: 10px;">
              <input formControlName="file" autoComplete="file" cFormControl type="file"
                (change)="onFileSelected($event)" 
                style="border: none; padding: 5px 10px; cursor: pointer;" 
                [ngClass]="{'is-invalid': registerForm.get('file')?.invalid && registerForm.get('file')?.touched}"/>
            </c-input-group>
            <div *ngIf="registerForm.get('file')?.invalid && registerForm.get('file')?.touched" class="c-form-feedback">
              Image is required
            </div>
          </c-col>

          <c-col *ngIf="previewUrl" md="2" style="position: relative;">
            <div
              style="border: 1px solid #e5dddd; border-radius: 4px; padding: 5px; margin-left: 20px; text-align: center; background-color: #f8f9fa;">
              <h6 style="font-size: 14px; font-weight: bold; margin-bottom: 5px; cursor: pointer;"
                (click)="clearPreview()">Clear Preview</h6>
              <img [src]="previewUrl" alt="Preview" width="100%" style="border-radius: 4px;" />
              <button (click)="clearPreview()"
                style="position: absolute; top: 5px; right: 10px; background: none; border: none; cursor: pointer;">
                <svg cIcon name="cil-close" size="lg" style="color: red;"></svg>
              </button>
            </div>
          </c-col>

          <c-col xs="12">
            <button cButton class="me-1" color="dark" type="submit">
              {{ buttonText }}
            </button>
            <button (click)="navigateToProducts()" cButton color="secondary" type="reset">
              Cancel
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>